# Version control
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
coverage_report

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode

# Data and logs
*.log
data/*

# Docker
Dockerfile
docker-compose.yml
.dockerignore
